<% require 'types.rb' %>
#include "ruby.h"
#include "stackmachine.h"
#define RETURN NULL
VALUE RegReg;
int typetest(VALUE e,char *cl){
  return rb_obj_is_kind_of(e,rb_const_get(rb_cObject,rb_intern(cl)))==Qtrue;
}

typedef struct rule{
  char *name;
  exp_rule *body;
  struct rule *next;
}rule;
rule* rules; 
rule* getrule(char *name){
  rule *r;
  for (r=rules;r;r=r->next)
    if (!strcmp(name,r->name)) return r;
  r=calloc(sizeof(rule),1);
  r->body=calloc(sizeof(exp_rule),1);r->body->tp=TP_rule;
  r->name=strdup(name);
  r->next=rules;
  rules=r;
  return r;
}

typedef struct{
  void **cl;
} closures;
VALUE get_local(VALUE self,VALUE no){
  closures *c;
  Data_Get_Struct(self,closures,c);
  return (VALUE) c->cl[FIX2INT(no)];
}

VALUE callback(void **closure,VALUE extra,void *arg){
  closures *c;
  Data_Get_Struct(extra,closures,c);
  c->cl=closure;
  return rb_funcall(extra,rb_intern(arg),0);
}


exp * trans(VALUE exp2){int i;
  if      (typetest(exp2,"Fixnum")) { return (exp *)FIX2LONG(exp2); }
  else if (exp2==Qnil             ) { return NULL;                  }
  else if (typetest(exp2,"String")) { return (exp *)normalize_string(RSTRING_PTR(exp2)); }
  else if (typetest(exp2,"Array" )) { exp **ary=malloc(sizeof(exp*)*RARRAY_LEN(exp2));   
    for(i=0;i<RARRAY_LEN(exp2);i++) ary[i]=trans(RARRAY_PTR(exp2)[i]);
    return (exp *)normalize_array(ary,RARRAY_LEN(exp2));} 
  else if (typetest(exp2,"Rcall" )) { char *name=(char *)trans(rb_iv_get(exp2,"@name")); exp_call e;e.tp=TP_call; e.name=name; e.body=getrule(name)->body; e.argc=0; e.afrom=e.ato=NULL; return (exp *) normalize_call(&e);}
  else if (typetest(exp2,"Rrule" )) { char *name=(char *)trans(rb_iv_get(exp2,"@name")); exp *body=trans(rb_iv_get(exp2,"@body")); rule *r=getrule(name); r->body->locals=(long)trans(rb_iv_get(exp2,"@locals")); r->body->body=body; return (exp*)r->body;}
  else if (typetest(exp2,"Ract"   )) { exp_act e; e.tp=TP_act; e.varc=trans(rb_iv_get(exp2,"@varc")); e.vars=trans(rb_iv_get(exp2,"@vars")); e.fn=callback; e.arg=trans(rb_iv_get(exp2,"@arg")); return normalize_act(&e);}
  <%=
    $nodes.map{|n,a| "else if (typetest(exp2,\"R#{n}\")){
                        exp_#{n} e; e.tp=TP_#{n};
                        #{a.map{|t,v| "e.#{v}=(#{t}) trans(rb_iv_get(exp2,\"@#{v}\"));"}
                      } return (exp *) normalize_#{n}(&e);}\n"}*""
  %>
}
VALUE translate(VALUE self,VALUE exp2){
  exp *e=trans(exp2);
  return Qnil;
}

VALUE cls_Closure;
VALUE rb_match(VALUE self,VALUE exp2,VALUE str){
  exp *e=trans(exp2);
  char *str2=RSTRING_PTR(str);
  closures *c=malloc(sizeof(closures));
  VALUE extra=  Data_Wrap_Struct(cls_Closure,NULL,NULL,c);
  return match2(e,(void *)extra,str2);
}
extern FILE * debug;
void Init_RegReg(){
  debug=fopen("log","w");
  RegReg=rb_define_class("RegReg",rb_cObject);
  rb_define_singleton_method(RegReg,"translate",translate,1);
  rb_define_singleton_method(RegReg,"match",rb_match,2);
  init_nodes();
  cls_Closure=rb_define_class("Closure",rb_cObject);
  rb_define_method(cls_Closure,"local",get_local,1);
}
